@keyframes slideOut {
    0% { 
        transform: translateX(0);
        opacity: 1;
    }
    70% { 
        transform: translateX(20px);
        opacity: 0;
    }
    100% { 
        transform: translateX(24px);
        opacity: 0;
    }
}

.slide-animation {
    animation: slideOut 2s infinite;
} 